{% extends "::base.html.twig" %}
{% block publication %}
<div class="well">   
	{{ form_start(form)}}
 	{{ form_widget(form.Name, { 'attr': { 'size' : 40 } }) }}
	{{ form_rest(form, { 'attr': { 'size' : 40 } })}}
</div>
{% endblock %}