{% extends "::base.html.twig" %}
 {% block leftmenu%}
    <ul class="nav navbar-nav">
        <li><a href="{{path('publication_index')}}">Voir les publications</a></li>
    </ul>
    {% endblock %}
{% block publication %}
<div class="well">   
	{{ form_start(form)}}
 	{{ form_widget(form.Name, { 'attr': { 'size' : 40 } }) }}
	{{ form_rest(form, { 'attr': { 'size' : 40 } })}}
</div>
{% endblock %}