{% extends '::base.html.twig' %}

{% block events %}
{% endblock %}


{% block menu %}

<li><a href="#">Ajouter un événement</a></li>
<li><a href="#">Liste des événements</a></li>
<li><a href="#">Événement du jour</a></li>

{% endblock %}
