{% extends 'base.html.twig' %}

{% block events %}

      <p><a href="{{path('pevenement_index')}}">Liste des événements</a></p>
      <p><a href="{{path('evenement_new')}}">Ajouter un événement</a></p>
      <p><a href="#">autre ...</a></p>

{% endblock %}