{% extends "::base.html.twig" %}


{% block body %}

<!DOCTYPE html>
<html lang="en">
<body>
<meta http-equiv="refresh" content="0;url=http://192.168.1.26/SocialNetwork/web/app_dev.php/publication">

</body>
</html>

{% endblock %}