
.block_publication {
   border: 5px solid #f2e3d2;
   background: #adffad;
   background: -webkit-gradient(linear, left top, left bottom, from(#d0fad1), to(#adffad));
   background: -webkit-linear-gradient(top, #d0fad1, #adffad);
   background: -moz-linear-gradient(top, #d0fad1, #adffad);
   background: -ms-linear-gradient(top, #d0fad1, #adffad);
   background: -o-linear-gradient(top, #d0fad1, #adffad);
   background-image: -ms-linear-gradient(top, #d0fad1 0%, #adffad 100%);
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
  	body {
  		padding-top: 70px;
  	}

  	.publication{
  		padding: 50px;
  		background-color: #f1f1f1;
  	}

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }