/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - changed all IDs to classes
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .login
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/*////////LOGIN PART/////////*/

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

/*//////END LOGIN PART///////*/


.navbar-leftmenu-text{
  color:black;
  font-size:20px;
  text-shadow: 2px 2px #556f96
}
.navbar-custom {
    color: #4876bf;
    background-color: #4876bf;
}
.navbar-custom-publication {
    color: #4876bf;
    background-color: #4876bf;
    border-color: black;
    border:2px;
}
.navbar-brand{
  color:black;
}
.navbar-text{
  color:black;
}
i.material-icons {
    font-size: 1rem;
    color: black;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
    content: "";
    color: black;
    width: 100%;
    height: 100%;
    border: solid 0.8px;
    transform: scale(1.8);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

i.material-icons:hover:after {
    color: black;
    transform: scale(1.38);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.material-icons:nth-of-type(4) {
    background-color: black;
}

i.material-icons:nth-of-type(4):hover {
    color: black;
}

i.material-icons:nth-of-type(4):after {
    border-color: black;
}

i.material-icons:nth-of-type(5) {
    background-color: black;
}

i.material-icons:nth-of-type(5):hover {
    color: black;
}

i.material-icons:nth-of-type(5):after {
    border-color: black;
}

i.material-icons:nth-of-type(6) {
    background-color: black;
}

i.material-icons:nth-of-type(6):hover {
    color: black;
}

i.material-icons:nth-of-type(6):after {
    border-color: black;
}

i.material-icons:nth-of-type(7) {
    background-color: black;
}

i.material-icons:nth-of-type(7):hover {
    color: black;
}

i.material-icons:nth-of-type(7):after {
    border-color: black;
}

i.material-icons:nth-of-type(8) {
    background-color: black;
}

i.material-icons:nth-of-type(8):hover {
    color: black;
}

i.material-icons:nth-of-type(8):after {
    border-color: black;
}

i.material-icons:nth-of-type(1) {
    background-color: white;
        box-shadow: 4px;

}

i.material-icons:nth-of-type(1):hover {
    color: black;
}

i.material-icons:nth-of-type(1):after {
    border-color: grey;
    box-shadow: 4px;
}

i.material-icons:nth-of-type(2) {
    background-color: white;
}

i.material-icons:nth-of-type(2):hover {
    color: grey;
}

i.material-icons:nth-of-type(2):after {
    border-color: grey;
}

i.material-icons:nth-of-type(3) {
    background-color: #cdb274;
}

i.material-icons:nth-of-type(3):hover {
    color: #cdb274;
}

i.material-icons:nth-of-type(3):after {
    border-color: #cdb274;
}

i.material-icons:hover {
    background-color: transparent;
    transform: rotate(180deg);
    cursor: pointer;
    box-shadow: none;
}





.publication-text-collapse{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color:black;
}

.publication-container-collapse{
  border-style: inset;
  border-width: 5px;
}

.evenement-text-collapse{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.evenement-container-collapse{
  border-style: inset;
  border-width: 5px;
}

.nav nav-pills{
  padding-top: 50px;
}
/* Base */
html {
    padding: 0.125em;
    font-size: 200%;
}

nav a {
  font-weight: bold;
}

.navbar-default {
  background-color: Lime;
}



/* Button */
.btn {
    margin: 0.25em;
    float: left;
    clear: both;
    font-family: monospace;
    font-size: 13px;
    white-space: nowrap;
}

.btn .btn--icon > span{
    width: 50px;
    height: 100px;
}

/* Button elements */
.btn > span,
.btn--icon > i {
    padding: 0.5em 1em;
    display: inline-block;
    transition: 0.25s all;
}
.btn > span {
    border-radius: 0.25em;
    white-space: nowrap;
    color: #222;
    background: #ddd;
    width: 125px;
}
.btn:hover > span,
.btn:focus > span {
    background: #417dd8;
}
.btn:active > span {
    background: #417dd8;
    transition: none;
}



/* Button with an icon */
.btn--icon > i {
    border-radius: 0.25em 0 0 0.25em;
    position: relative;
    font-weight: bold;
    font-style: normal;
    color: white;
    background: #4876bf;
}
.btn--icon > i:after {
    content: "";
    border: 0.35em solid;
    border-color: transparent transparent transparent #4876bf;
    position: absolute;
    top: 0.775em;
    right: -0.65em;
}
.btn--icon:hover > i,
.btn--icon:focus > i {
    color: black;
}
.btn--icon > span {
    border-radius: 0 0.25em 0.25em 0;
}



/* Button custom states */
.btn--favorite:hover > i,
.btn--favorite:focus > i { color: #4876bf; }
.btn--add:hover > i,
.btn--add:focus > i { color: #4876bf; }
.btn--delete:hover > i,
.btn--delete:focus > i { color: red; }
.btn--delete:hover{ background: red; }
.btn--delete:hover span{ background: red; }
.btn--favorite > span { background: gold; }
.btn--add > span { background: #4876bf; }
.btn--delete > span { background: #4876bf; }


.block_publication {
   border: 5px solid #f2e3d2;
   background: #4876bf;
   background: -webkit-gradient(linear, left top, left bottom, from(#b7e5ae), to(#adffad));
   background: -webkit-linear-gradient(top, #d0fad1, #adffad);
   background: -moz-linear-gradient(top, #d0fad1, #adffad);
   background: -ms-linear-gradient(top, #d0fad1, #adffad);
   background: -o-linear-gradient(top, #d0fad1, #adffad);
   background-image: -ms-linear-gradient(top, #d0fad1 0%, #adffad 100%);
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
  	body {
  		padding-top: 0px;
  	}

  	.publication{
  		padding: 50px;
  		background-color: #f1f1f1;
  	}

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
