.publication-text-collapse{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.publication-container-collapse{
  border-style: inset;
  border-width: 5px;
}

.nav nav-pills{
  padding-top: 50px;
}
/* Base */
html {
    padding: 0.125em;
    font-size: 200%;
}

nav a {
  font-weight: bold;
}

.navbar-default {
  background-color: Lime;
}



/* Button */
.btn {
    margin: 0.25em;
    float: left;
    clear: both;
    font-family: monospace;
    font-size: 13px;
    white-space: nowrap;
}

.btn .btn--icon > span{
    width: 50px;
    height: 100px;
}

/* Button elements */
.btn > span,
.btn--icon > i {
    padding: 0.5em 1em;
    display: inline-block;
    transition: 0.25s all;
}
.btn > span {
    border-radius: 0.25em;
    white-space: nowrap;
    color: #222;
    background: #ddd;
    width: 125px;
}
.btn:hover > span,
.btn:focus > span {
    background: lightgreen;
}
.btn:active > span {
    background: limegreen;
    transition: none;
}



/* Button with an icon */
.btn--icon > i {
    border-radius: 0.25em 0 0 0.25em;
    position: relative;
    font-weight: bold;
    font-style: normal;
    color: white;
    background: #222;
}
.btn--icon > i:after {
    content: "";
    border: 0.35em solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 0.775em;
    right: -0.65em;
}
.btn--icon:hover > i,
.btn--icon:focus > i {
    color: #ddd;
}
.btn--icon > span {
    border-radius: 0 0.25em 0.25em 0;
}



/* Button custom states */
.btn--favorite:hover > i,
.btn--favorite:focus > i { color: gold; }
.btn--add:hover > i,
.btn--add:focus > i { color: #b7e5ae; }
.btn--delete:hover > i,
.btn--delete:focus > i { color: red; }
.btn--delete:hover{ background: red; }
.btn--delete:hover span{ background: red; }
.btn--favorite > span { background: gold; }
.btn--add > span { background: #b7e5ae; }
.btn--delete > span { background: #b7e5ae; }


.block_publication {
   border: 5px solid #f2e3d2;
   background: #adffad;
   background: -webkit-gradient(linear, left top, left bottom, from(#b7e5ae), to(#adffad));
   background: -webkit-linear-gradient(top, #d0fad1, #adffad);
   background: -moz-linear-gradient(top, #d0fad1, #adffad);
   background: -ms-linear-gradient(top, #d0fad1, #adffad);
   background: -o-linear-gradient(top, #d0fad1, #adffad);
   background-image: -ms-linear-gradient(top, #d0fad1 0%, #adffad 100%);
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
  	body {
  		padding-top: 0px;
  	}

  	.publication{
  		padding: 50px;
  		background-color: #f1f1f1;
  	}

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
